
.actor-image {
    object-fit: fill;
    width: 170px;
    height: 240px;

}

.actor-image-mobile {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

p {
    margin-bottom: 0;
}

.close {
    border: none !important;
}

body {
    background-color: white;
}