.form-control {
    border: solid 1px white !important;
    border-style: none none solid !important;
    border-color: none none white !important;
    border-width: 0 0 2px 0 !important;
    border-radius: 0 !important;
    background: transparent !important;
    color: white !important;
}
.form-control:focus {
    border-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;

  }



.dropdown-menu {
    border: solid 1px #888;
    background-color: #050a31 !important;

}

.search-item {
    color: white;
}
.search-item:hover {
    color: white;
    text-decoration: none;
}